
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Red+Hat+Display&display=swap);html{min-height:100%;scroll-behavior:smooth}body{color:#000;font-family:'Red Hat Display',sans-serif;margin:5vw}a{color:#3374ff}.logos{font-size:10vw;color:#3374ff;text-align:center;font-family:'Red Hat Display',sans-serif;}.motto{font-size:6.2vw;text-align:center}.motto2{font-size:6vw;text-align:center;color:#3374ff}.series{font-size:5vw;text-align:left;margin-top:10vw}.gridcontainer{display:grid;grid-template:1fr 1fr/1fr 1fr;gap:10vw 7vw}.flexboy{display:flex;flex-direction:column}.pic{height:45vw;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:35vw;border:1vw solid #3374ff;border-radius:3.3vw}.title{font-size:3.6vw;color:#000}.downloadlink{background-color:#3374ff;color:#fff;font-size:2.5vw;border:.1vw solid #3374ff;border-radius:3vw;padding:2%;width:35vw;height:6.4vw}
.contact{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}























