html{
    min-height:100%;
    scroll-behavior:smooth
}
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Red+Hat+Display&display=swap);
body {
    background-image: url('https://ik.imagekit.io/linbooks/lin_b_ookd_pics/photo-1605116959031-6e2d13a2ee56_9DzFDnI9x.jpg?updatedAt=1629191432059');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    font-family: 'Red Hat Display;',sans-serif;
  }
  div{
      text-align: center;
      color:black;
  }
  .title{
      font-size:10vw;
      color: #3374ff;
  }
  .motto{
      font-size: 5vw;
  }
  .service{
      font-size: 4.3vw;
      font-weight: bold;
      color: #3374ff;
  }
  .quote{
      font-size: 5vw;
  }
  .author{
      font-size: 3.5vw;
      font-weight: bold;
      font-weight: bold;
      color:#3374ff;
  }
  .box{
      height: 40vw;
      width:40vw;
      text-align: center;
      position: relative;
      left:25vw;
      top:10vw;
      word-wrap: break-word;
  }
  .pic{
      height: 11vw;
      width: 11vw;
      border-radius: 3.4vw;
      position: relative;
      top:19vw;
      right:34vw;
  }
  .ce{
      position:relative;
      left:6vw;
  }
  button{
      color: white;
      background-color: #3374ff;
      font-size: 8vw;
      padding: 2vw 3vw 2vw 3vw;
      border-radius: 4vw;
      position:relative;
      top:10vw;
  }
  







